.products-bar {
  padding: 15px;
  background: rgba(240, 240, 240, 0.1);
  border-radius: 12px;
  border: 1px solid #bc13fe;
}

.products-bar h3 {
  color: #bc13fe;
  margin-top: 0;
  margin-bottom: 15px;
}

.products-bar .ingredient-item {
  margin-bottom: 15px;
}

.products-bar .ingredient-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
}

.products-bar .ingredient-name {
  font-weight: bold;
  text-transform: capitalize;
  color: black;
}

.products-bar .ingredient-amount {
  color: black;
}

.products-bar .ingredient-amount.empty {
  color: red;
}

.products-bar progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
}
